{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macro %}

<!-- Styling -->
{% block styles %}
{{super()}} 
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}


<!-- Main content -->

{% block content %}
<div class="main">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">
            <h2><i class="far fa-newspaper"></i> NewsHighlight</h2>
            <h4>Read the Latest World News</h4>
            <p>Check out the latest world <b>news</b> and <b>headlines</b> on business, entertainment, health ,
                technology and sports.</p>
        </div>
    </div>
    <div class="container-fluid">
    <!-- News source section  -->
    <h3>Business News</h3>
    {{macro.displaySourceList(sources)}}
    <!-- Entertainment section  -->
    <h3>Entertainment News</h3>
    {{macro.displaySourceList(ent)}}
    <!-- Sports section  -->
    <h3>Sports News</h3>
    {{macro.displaySourceList(sports)}}
    <!-- Technology section  -->
    <h3>technology News</h3>
    {{macro.displaySourceList(tech)}}
    <!-- Health section  -->
    <h3>Health News</h3>
    {{macro.displaySourceList(health)}}

</div>
    {% endblock %}