{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Content Block-->
{% block content %}
<!-- Jumbotron -->
<div class="card card-image"
  style="background-image: url(https://picsum.photos/2560/500?grayscale); background-repeat:no-repeat">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">
      <h2 class="h2 text-white animated heartBeat" style="font-family: 'Abril Fatface', cursive;"> The NewsHighlight</h2>
      <h5 class="card-title h5 my-4 py-2">Always be on the know</h5>
      <p class="mb-4 pb-2 px-md-5 mx-md-5" style="font-size:30px; font-weight:bol">
        Get your top news headlines.. </p>

    </div>
  </div>
</div>
<div style="background-color: bisque;">
  <br><br>
  <div class="navbar navbar-inverse" role="navigation">
    <div style="float: right; margin-top: 10px">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="news_query">
        <button class="btn btn-secondary" type="submit" value="submit">Search</button>
      </form>
    </div>
  </div>
</div>
</div>
<div class="container-fluid">
  <div class="navbar-collapse collapse">
    <ul class="nav nav-tabs">
      <li class="nav-item dropdown">
        <!-- <a class="nav-link" href="#">NEWS HIGHLIGHTS <span class="sr-only"></span></a> -->
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="hover" aria-haspopup="true"
          aria-expanded="false ">
          HOME</a>
         
        <div style="background: rgb(195, 195, 195); font-size: 16px;" class="dropdown-menu">
          <a class="dropdown-item" style="color: black; " href="/search/Sports">Sports</a><br>
          <a class="dropdown-item" style="color: black; " href="/search/Entertainment">Entertainment</a><br>
          <a class="dropdown-item" style="color: black;" href="/search/Business">Business</a><br>
          <a class="dropdown-item" style="color: black;" href="/search/Travel">Travel</a>

        </div>
      </li>
    </ul>
  </div>
</div>
</div>

<div class="container-fluid">
  <div class="row">
    {{ macro.dispalyNewsList(top) }}
  </div>
</div>

<footer>
  <div class="footer-copyright text-center py-3">© 2020 Copyright: News
  </div>
</footer>
{% endblock %}
</body>
</html>