{% macro dispalyNewsList(news_list) %}

<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            {% for new in news_list %}
            <div style="height: 50vh" class="col-md-3 " style="text-align: center">
                <h2 class="panel-header" style="font-size: 18px;">{{new.source}}</h2>
                <div class="thumbnails"> <br>
                    <img src="{{ new.urlToImage }}" width="350" height="200"
                        class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
                </div>
                <div class="panel-title">
                    <h4 class="featurette-heading" style="font-weight: bold;">
                    {{ new.title | truncate(60)}}
                </h4>
                <p class=" panel-body"> {{ new.description | truncate(200) }} </p>
                        <a href="{{new.url}}" class="btn btn-info card-link" target="_blank">View full story &raquo;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endmacro %}