   <!-- <div class="container-fluid">
     <div class="navbar-collapse collapse">
        <ul class="nav nav-tabs">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"
            href="#" role="hover" aria-haspopup="true" aria-expanded="false ">
            HOME</a>
            <div style="background: rgb(195, 195, 195); font-size: 16px;" class="dropdown-menu">
              <a  class="dropdown-item" style="color: black; text-decoration: none;" href="/search/Sports">Sports</a><br>
              <a  class="dropdown-item" style="color: black; text-decoration: none;" href="/search/Entertainment">Entertainment</a><br>
              <a class="dropdown-item" style="color: black; text-decoration: none;" href="/search/Business">Business</a><br>
              <a class="dropdown-item"  href="/search/Travel">Travel</a>
                                    
            </div>
          </li>
        </ul>
      <div style="float: right; margin-top: 10px">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
              name="news_query">
            <button class="btn btn-secondary" type="submit" value="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
   -->