<!-- {% extends 'base.html' %} -->
<!-- {% import 'macros.html' as macro %} -->

{% block content %}
<h3 class="text-center">We found {{ news | count }} items that match your search.</h3>

<div style="background-image: url(https://bit.ly/2F6YcQQ);background-size:cover; background-repeat:no-repeat; background-attachment:fixed">
<hr><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {{ macro.dispalyNewsList(news) }}
        </div>
    </div>

    {% endblock %} -->